.system-layout {
  min-height: 100vh;
  .topbar {
    z-index: 3;
    position: sticky;
    background-color: #fff;
    top: 0;
    margin-bottom: 10px;
    padding: 15px 15px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  }
  .content {
    padding: 0 15px 80px;
    background-color: #fff;
    min-height: calc(100vh - 60px);
    overflow: visible;
    ::ng-deep.ant-table-content {
      overflow: auto;
    }
    ::ng-deep form {
      padding-bottom: 80px;
    }
    // Tabs 容器样式
    ::ng-deep .ant-tabs {
      .ant-tabs-nav-wrap {
        overflow: visible;
      }
      .ant-tabs-nav-list {
        flex-wrap: wrap;
      }
      .ant-tabs-content-holder {
        overflow: visible;
      }
    }
  }
  .sidebar {
    position: sticky;
    top: 0;
    background-color: #fff;
    &.hide {
      width: 0 !important;
      min-width: 0 !important;
      flex: 0 !important;
    }
  }
  .inner-layout {
    margin-left: 15px;
  }
  .fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
