#file {
  cursor: pointer;
  input {
    display: none;
  }
}
.preview {
  width: 300px;
}
.save-tip {
  margin-top: 10px;
  color: #f50;
  font-weight: bold;
}
.divider {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #eee;
}
.title {
  margin-bottom: 20px;
}
.sim-ban {
  img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
  ::ng-deep .anticon {
    font-size: 30px;
  }
}
.logo-input {
  display: block !important;
  margin-top: 5px;
}
.bottom-bar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 15px 10px 200px;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .bottom-bar {
    padding: 10px 15px;
    height: auto;
    min-height: 60px;
  }
}
